---
# tasks/main.yml: Main tasks for RocketChat.Ansible

  - include_vars: "{{ item }}"
    with_first_found:
      - "{{ ansible_distribution }}.yml"
      - "{{ ansible_os_family }}.yml"
    tags: vars

  - include: repo_RedHat.yml
    when: ansible_os_family == "RedHat"
    tags: repo

  - name: Ensure APT cache has been updated recently
    apt:
      update_cache: yes
      #cache_valid_time: 3600
    when: ansible_pkg_mgr == "apt"

  - include: mongodb.yml
    when: rocket_chat_include_mongodb|bool
    tags: mongodb

  - name: Ensure the Rocket.Chat service group is present
    group:
      name: "{{ rocket_chat_service_group }}"
      state: present
      system: true

  - name: Ensure the Rocket.Chat service user is present
    user:
      comment: Rocket.Chat Service User
      name: "{{ rocket_chat_service_user }}"
      group: "{{ rocket_chat_service_group }}"
      home: "{{ rocket_chat_application_path }}"
      createhome: true
      shell: /bin/false
      state: present
      system: true

  - name: Ensure Rocket.Chat dependencies are installed
    package:
      name: "{{ rocket_chat_dep_packages }}"
      state: present
    register: result
    until: result | succeeded
    retries: 2

  - name: Ensure link /bin/node -> /bin/nodejs exists
    file:
      src: /bin/node
      dest: /bin/nodejs
      state: link
    when: ansible_os_family == "RedHat"

  - name: Ensure n (NodeJS) is installed
    npm:
      name: n
      global: true
      executable: "{{ rocket_chat_node_orig_npm }}"

  - name: Check to see if n has installed the required 'node' binary
    stat:
      path: "{{ rocket_chat_node_path }}/node"
    register: n_node_bin

  - name: Install the supported NodeJS environment via n
    shell: n {{ rocket_chat_node_version }}
    when: not n_node_bin.stat.exists|bool

  - name: "Configure /etc/hosts"
    lineinfile:
      dest: /etc/hosts
      line:  "127.0.0.1    localhost {{ ansible_fqdn }} {{ ansible_nodename }} {{ ansible_hostname }}"
      regexp: '^127\.0\.0\.1'
      insertbefore: BOF
    when: ansible_virtualization_type != "docker"

  - name: Check to see if this is the initial Rocket.Chat deployment
    stat:
      path: "{{ rocket_chat_application_path }}/bundle"
    register: rocket_chat_deploy_state

  - name: Set the initial Rocket.Chat upgrade status
    set_fact:
      rocket_chat_upgraded: false

  - name: Ensure acl-tools are present [Ubuntu 16]
    package:
      name: acl
      state: present
    when:
      - ansible_distribution == "Ubuntu"
      - ansible_distribution_major_version == "16"

  - name: Fetch the Rocket.Chat binary tarball
    get_url:
      url: "{{ rocket_chat_tarball_remote }}"
      checksum: "{{ (rocket_chat_tarball_check_checksum == false) | ternary(omit, 'sha256: ' + rocket_chat_tarball_sha256sum) }}"
      force: "{{ (rocket_chat_tarball_check_checksum == false) | ternary('yes', omit) }}"
      dest: "{{ rocket_chat_application_path }}/rocket.chat-{{ rocket_chat_version }}.tgz"
      timeout: "{{ rocket_chat_tarball_fetch_timeout }}"
      validate_certs: "{{ rocket_chat_tarball_validate_remote_cert }}"
    # Temp fix for ansible/ansible#15915 ( Broken include in handlers )
    # https://github.com/ansible/ansible/issues/15915
    #notify: Upgrade Rocket.Chat
    become: true
    become_user: "{{ rocket_chat_service_user }}"
    register: result
    retries: 2
    until: result | succeeded
    changed_when: (result|changed)
                  or (not rocket_chat_tarball_check_checksum)

  - name: Upgrade Rocket.Chat
    include: upgrade.yml
    when:
      - result|changed
      - rocket_chat_deploy_state.stat.exists
    tags:
      - upgrade

  - meta: flush_handlers

  - name: Unpack the Rocket.Chat binary tarball
    unarchive:
      copy: false
      src: "{{ rocket_chat_application_path }}/rocket.chat-{{ rocket_chat_version }}.tgz"
      dest: "{{ rocket_chat_application_path }}"
      creates: "{{ rocket_chat_application_path }}/bundle"
    become: true
    become_user: "{{ rocket_chat_service_user }}"
    tags: build

  - name: Install Rocket.Chat via NPM
    npm:
      state: present
      path: "{{ rocket_chat_application_path }}/bundle/programs/server"
      executable: "{{ rocket_chat_node_path }}/npm"
    become: true
    become_user: "{{ rocket_chat_service_user }}"
    tags: build

  - name: Ensure the Rocket.Chat log file symlink is present [Ubuntu 14]
    file:
      path: /var/log/rocketchat.log
      src: /var/log/upstart/rocketchat.log
      state: link
      force: yes

    when:
      - ansible_distribution == "Ubuntu"
      - ansible_distribution_major_version == "14"

  - name: Ensure the Rocket.Chat application data permissions are correct
    command: >-
      chown {{ rocket_chat_service_user }}.{{ rocket_chat_service_group }}
      -R {{ rocket_chat_application_path | quote }}
    args:
      warn: no
    tags: build

  - include_vars: "{{ item }}"
    with_first_found:
      - "{{ ansible_distribution }}_{{ ansible_distribution_major_version }}.yml"
      - "{{ ansible_os_family }}_{{ ansible_distribution_major_version }}.yml"
      - "{{ ansible_distribution }}.yml"
      - "{{ ansible_os_family }}.yml"
    tags: service

  - name: Deploy the Rocket.Chat service file
    template:
      src: "{{ rocket_chat_service_template.src }}"
      dest: "{{ rocket_chat_service_template.dest }}"
    notify:
      - Update the Rocket.Chat service configuration
      - Restart the Rocket.Chat service
    tags: service

  - meta: flush_handlers

  - name: Ensure the MongoDB replSets have been initiated
    shell: >-
      mongo --eval 'rs.initiate()' &&
      touch .mongo_rs_initialised
    become: yes
    become_user: mongodb
    args:
      executable: /bin/bash
      chdir: /var/lib/mongodb
      creates: /var/lib/mongodb/.mongo_rs_initialised
    when: rocket_chat_include_mongodb|bool

  - name: Restart the Rocket.Chat service [UPGRADE]
    service:
      name: rocketchat
      state: restarted
    when: rocket_chat_upgraded|bool

  - name: Ensure the Rocket.Chat service is running/enabled
    service:
      name: rocketchat
      state: started
      enabled: true
    tags: service

  - include: nginx.yml
    when: rocket_chat_include_nginx|bool
    tags: nginx

  - include: letsencrypt.yml
    when: rocket_chat_include_letsencrypt|bool
    tags: letsencrypt
