{
  "apps": [{
    "name": "rocket.chat",
    "script": "{{ rocket_chat_application_path }}/bundle/main.js",
    "out_file": "/var/log/rocket.chat/app.log",
    "error_file": "/var/log/rocket.chat/err.log",
    "port": "{{ rocket_chat_service_port }}",
    "env": {
      "MONGO_URL": "mongodb://{{ rocket_chat_mongodb_server }}:{{ rocket_chat_mongodb_port }}/rocketchat",
      "MONGO_OPLOG_URL": "mongodb://{{ rocket_chat_mongodb_server }}:{{ rocket_chat_mongodb_port }}/local",
      "ROOT_URL": "http://{{ rocket_chat_service_host }}:{{ rocket_chat_service_port }}",
      "PORT": "{{ rocket_chat_service_port }}"
    }
  }]
}
