[Unit]
Description=Rocket.Chat Server
After=syslog.target
After=network.target

[Service]
Type=simple
Restart=always
StandardOutput=syslog
SyslogIdentifier=RocketChat
User={{ rocket_chat_service_user }}
Group={{ rocket_chat_service_group }}
Environment=MONGO_URL=mongodb://{{ rocket_chat_mongodb_URI }}
Environment=MONGO_OPLOG_URL=mongodb://{{ rocket_chat_mongodb_server }}:{{ rocket_chat_mongodb_port }}/local
Environment=ROOT_URL=https://{{ rocket_chat_service_host }}
Environment=PORT=%I
Environment=DEPLOY_PLATFORM=ansible
{% for variable, value in rocket_chat_service_environment.items() %}
Environment={{ variable }}={{ value }}
{% endfor -%}
WorkingDirectory={{ rocket_chat_application_path }}
ExecStart={{ rocket_chat_node_path }} {{ rocket_chat_application_path }}/bundle/main.js

[Install]
WantedBy=rocketchat.service
