{% if rocket_chat_mongodb_credentials is not defined and rocket_chat_mongodb_user is defined and rocket_chat_mongodb_password is defined %}
{% set rocket_chat_mongodb_credentials = rocket_chat_mongodb_user+":"+rocket_chat_mongodb_password+"@" -%}
{% elif rocket_chat_mongodb_credentials is not defined %}
{% set rocket_chat_mongodb_credentials = "" -%}
{% endif %}
[Unit]
Description=Rocket.Chat Server
After=syslog.target
After=network.target

[Service]
Type=simple
Restart=always
StandardOutput=syslog
SyslogIdentifier=RocketChat
User={{ rocket_chat_service_user }}
Group={{ rocket_chat_service_group }}
Environment=MONGO_URL=mongodb://{{ rocket_chat_mongodb_credentials }}{{ rocket_chat_mongodb_server }}:{{ rocket_chat_mongodb_port }}/{{ rocket_chat_mongodb_database }}{{ rocket_chat_mongodb_options }}
Environment=MONGO_OPLOG_URL=mongodb://{{ rocket_chat_mongodb_credentials }}{{ rocket_chat_mongodb_server }}:{{ rocket_chat_mongodb_port }}/local{{ rocket_chat_mongodb_options }}
Environment=ROOT_URL=https://{{ rocket_chat_service_host }}
Environment=PORT={{ rocket_chat_service_port }}
{% for variable, value in rocket_chat_service_environment.iteritems() %}
Environment={{ variable }}={{ value }}
{% endfor -%}
WorkingDirectory={{ rocket_chat_application_path }}
ExecStart={{ rocket_chat_node_path }} {{ rocket_chat_application_path }}/bundle/main.js

[Install]
WantedBy=multi-user.target
